<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
version="2.5">

<display-name>spring mvc</display-name>
  
  <!-- Spring应用上下文，理解层次化的ApplicationContext -->
	<servlet> 
        <servlet-name>spring-mvc</servlet-name>  
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
        <init-param>
        	<param-name>contextConfigLocation</param-name>
        	<param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
    </servlet>   
  <!-- <servlet-mapping>
	<servlet-name>spring-mvc</servlet-name>
	<url-pattern>/index</url-pattern> 
</servlet-mapping> -->
    <servlet-mapping>  
        <servlet-name>spring-mvc</servlet-name>  
        <url-pattern>*.do</url-pattern> 
    </servlet-mapping> 
<!-- <welcome-file-list>
	默认进入index controller
	<welcome-file>index</welcome-file>
</welcome-file-list>  -->
   <servlet-mapping>   
		<servlet-name>jsp</servlet-name> 
		<url-pattern>*.html</url-pattern> 
	</servlet-mapping> 
	<welcome-file-list>
        <welcome-file>home.do</welcome-file>
    </welcome-file-list>  
	     
<!-- 防止html出现中文乱码 -->
  <jsp-config>    
    <jsp-property-group>  
      <description>HTML Encoding</description>  
      <display-name>HTML Encoding Config</display-name>  
      <url-pattern>*.html</url-pattern>  
      <el-ignored>true</el-ignored>  
      <page-encoding>utf-8</page-encoding>  
      <scripting-invalid>true</scripting-invalid>  
    </jsp-property-group>  
  </jsp-config>  
  <!--        
    <servlet-mapping>
     	<servlet-name>default</servlet-name>
     	<url-pattern>*.css</url-pattern>
	</servlet-mapping>
  
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.gif</url-pattern>
 	</servlet-mapping>
    
 	<servlet-mapping>
     	<servlet-name>default</servlet-name>
    	<url-pattern>*.jpg</url-pattern>
 	</servlet-mapping>
    
 	<servlet-mapping>
     	<servlet-name>default</servlet-name>
     	<url-pattern>*.js</url-pattern>
 	</servlet-mapping>   -->
	   
</web-app> 